<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITULO</title>

    <link rel="stylesheet" href="../static/css/stylesIndex.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    
</head>
<body>
    
    <div class="container">
        <img src="../static/imgs/8785688841847.jpg" alt="" class="background">
        
        <main class="login">
            <h1 class="my-text">Registrar</h1>
            <h2 class="my-text">Faça seu registro</h2>

            <form id="form-login" action="" method="POST">
                <div>
                    <span class="material-icons">person_outline</span>
                    <input name="username" type="text" placeholder="Username" required>
                </div>

                <div>
                    <span class="material-icons">lock</span>
                    <input name="password" type="password" placeholder="Password" required>
                </div>
                <button type="submit">Registrar</button>
            </form>

            <a href="{{url_for('login')}}">LogIn</a>

        </main>
        
        <!-- <img src="" alt="" class="background"> -->

    </div>
    
</body>
</html>